body {
  overflow: scroll;
}

a#post-title:hover {
  background-size: 100% 3px;
  transition-duration: 0.5s;
  background: #bbf7d0;
}

#post-image:hover {
  transform: scale(104%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-property: all;
}

#post-image {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-property: all;
}

a#view-all-posts:hover {
  background: #fafafa;
}
